body {
  font-family: 'Ticketing';
}

.feed {
  font-family: 'VT323';
}

@font-face {
  font-family: 'Ticketing';
  src: local('Ticketing'),
    url('./fonts/ticketing-jjb0-webfont.woff') format('woff2');
}

@font-face {
  font-family: 'VT323';
  src: url('./fonts/VT323-Regular.woff2') format('woff2'),
    url('./fonts/VT323-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
